---
layout: projects
title: Projects
---


<!-- ========== PROJECTS ========== -->
<div class="docs-section" id="projects">
  <h4>Projects</h4>

  <p>A collection of projects. <b>This page is currently under construction</b>.</p></br>

    <div class="tab-pane">
      {% for project in site.data.projects.projects %}
        {% assign index_modulo = forloop.index0 | modulo:2 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="twelve columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <p><h5>{{ project.title }}</h5> {{ project.subtitle }}</p>
                </div>

            </div>
          </div>

        {% if index_modulo == 1 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</div>
